<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Page</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="centerThisDiv">
        <h1>Welcome to Cookie Validation</h1>
        <div>
            <button type="button"><a href="<%= formurl %>/signup">Sign Up</a></button>
            <button type="button"><a href="<%= formurl %>/signin">Sign In</a></button>
        </div>
        </div>
    </div>
</body>
</html>