*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.container > div{
    margin: 10px;
    padding: 2rem;
}
.form_style{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.centerThisDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
a{
    text-decoration: none;
}
pre{
    white-space: pre-wrap;
    margin: 1rem 0;
}